In [1]:
# Import dependencies
import psycopg2
import sqlalchemy
import pandas as pd

In [2]:
# Create connection to database
from sqlalchemy import create_engine
engine = psycopg2.connect(
    database="project4DB",
    user="postgres",
    password="postgres",
    host="fake-news-prediction-db.citnkkc6ztdk.us-east-2.rds.amazonaws.com",
    port='5432'
)

In [3]:
# Reading SQL tables into dataframes
news_df = pd.read_sql('select * from news_df', engine)

In [4]:
news_df.head()

,id,topic,news_date,label,combined_text
0,1,News,2017-12-31,0.0,donald trump send embarrass new year eve messa...
1,2,News,2017-12-31,0.0,drunk brag trump staffer start russian collus ...
2,3,News,2017-12-30,0.0,sheriff david clark becom internet joke threat...
3,4,News,2017-12-29,0.0,trump obsess even obama name code websit imag ...
4,5,News,2017-12-25,0.0,pope franci call donald trump christma speech ...

In [ ]:
# Separate combined text and label values
x = df['combined_text'].values
y = df['label'].values

In [7]:
## TF-IDF
# Term Frequency, Inverse Document Frequency
# TF-IDF Vectorizer converts textual data to numerical data

In [ ]:
# Create the transform
vectorizer = TfidfVectorizer()
# Tokenization
vectorizer.fit(X)
# Encode text as floating-point values for use as inputs in modeling algorithms (feature extraction)
X_vect = vectorizer.transform(X)